.componentWrapper {
  border-bottom: 1px solid #f1f1f1;
}

.submitBtnContainer {
  text-align: center;
  margin: 16px;

  button {
    color: #fff;
    background-color: #1677ff;
    border: 1px solid transparent;
    padding: 4px 15px;
    border-radius: 3px;
  }
}